.current-location {
    position: absolute;
    // background-color: #fff !important;
    right: 3%;
    width: 30px;
    bottom: 70% !important;
    button {
      background-color: #fff;
      height: 2.9rem;
      width: 2.9rem;
      img {
        width: 20px;
      }
    }
    .button-ios.activated {
      background-color: transparent;
    }
  }

  // #map {
  //   // padding-top: 25%;
  //   // top: 2%;
  //   width: 100%;
  //   height: 36%;
  //   // position: relative;
  // }

  
#map_canvas {
  width: 100%;
  height: 78%;
  border: 1px solid red;
}
